* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F8FF;
    font-family:sans-serif;
    color: #59429d;
}

.header {
    font-family: sans-serif;
    color: #59429d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 15px auto 0 auto;
}

form {
    width: 35%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
} 

fieldset {
    border: none;
}

input, select, textarea, button {
    font-size:1em;
    font-family: sans-serif;
    color: #59429d;
    border-radius: 5px;
}

textarea {
    width: 98%;
}

#nome, #sobrenome {
    width: 96%;
}

#email {
    width: 98%;
    margin-bottom: 15px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display:block;
}

#one{
    display:block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.grupo1 {
    display:flex;   
    gap: 20px;
    margin-top: 25px;
}

.grupo1 .campo{
    width:50%;
}

.grupo2 {
    margin-bottom: 15px;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

select{
   cursor: pointer; 
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1em;
    cursor: pointer;
    background: #59429d;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}